<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming in Python</title>
    <style>
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        div {
            border : 1px solid black;
        }

        .special-button {
            width: 30%;
            margin-left: 35%;
            margin-top: 1%;
        }
    </style>
</head>
<body>
    <div><h1>Add record</h1></div>
    <form action="add" method="post">
        <table>
            <tr><td>Sex</td><td><input type="text" id="sex", name="sex", placeholder="F - female; M - male; I - infant"></td></tr>
            <tr><td>Length</td><td><input type="text" id="length", name="length"></td></tr>
            <tr><td>Diameter</td><td><input type="text" id="diameter", name="diameter"></td></tr>
            <tr><td>Rings</td><td><input type="text" id="rings", name="rings"></td></tr>
        </table>
        <input type="submit" value="Add" class="special-button">
        <a href="/"><input type="button" value="Back" class="special-button"></a> 
    </form>
</body>
</html>